<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>与[[${chat_info['nickname']}]]对话中..</title>
    <link rel="stylesheet" type="text/css" href="../css/chat.css?">
    <script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../jquery/jquery-form.js"></script>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-paginator.js"></script>
	<script type="text/javascript" src="../js/qyjs/jquery.min.js"></script>
    <script type="text/javascript" src="../js/qyjs/flexible.js"></script>
</head>
<body>
		<div class="message">
		
			
		</div>
		<div class="footer">
			<input type="text" value=""  id="msg" name="msg"/>
			<p onclick="sendmsg()">发送</p>
		</div>
</body>

</html>
<script type="text/javascript" th:inline="javascript">
$(function () {
	load();
});

function load(){
	var msg = [[${msg}]];
	var avatarUrl = [[${chat_info['avatarUrl']}]];
	var card_logo = [[${card['cardLogo']}]];
	$('.message').append(function () {
        var arr = [];
		var datestr_a ='';
        $.each(msg, function (index, items) {
							
			if(items.isSend == 0){
				arr.push('<div class="send"><div class="msg"><img src="'+ avatarUrl +'" alt="" ><p><i class="msg_input"></i>' + items['msg'] + '</p></div></div>');
			}else{
				arr.push('<div class="show"><div class="msg"><img src="' + card_logo + '" alt="" /><p><i class="msg_input"></i>' + items['msg'] + '</p></div></div>');
			}
        });
        return arr.join('');
    });
}


/*发送消息*/
function send(headSrc,str){
	var html="<div class='send'><div class='msg'><img src="+headSrc+" />"+
	"<p><i class='msg_input'></i>"+str+"</p></div></div>";
	upView(html);
}
/*接受消息*/
function show(headSrc,str){
	var html="<div class='show'><div class='msg'><img src="+headSrc+" />"+
	"<p><i class='msg_input'></i>"+str+"</p></div></div>";
	upView(html);
}
/*更新视图*/
function upView(html){
	$('.message').append(html);
	$('body').animate({scrollTop:$('.message').outerHeight()-window.innerHeight},200)
}
function sj(){
	return parseInt(Math.random()*10)
}
$('.footer').on('keyup','input',function(){
	if($(this).val().length>0){
		$(this).next().css('background','#114F8E').prop('disabled',true);
	
	}else{
		$(this).next().css('background','#ddd').prop('disabled',false);
	}
})
	
var  doingsend = false;
function sendmsg(){
	if(doingsend){
		return false;
	}

	var msg= $('#msg').val();

	doingsend = true;
	var card_logo = [[${card['cardLogo']}]];
	var openid = [[${chat_info['openid']}]];
	var card_id = [[${chat_info['aid']}]];
	$.post(
			[[${projectRootPath}]] + "staffer/dosend",
			{msg:msg,
			openid : openid,
			card_id: card_id}, 
			function(json){
				if(json.error==0){
					$('#msg').val("");
					//alert(json.mess);
					show(card_logo,msg);
					doingsend = false;
					return false;
				}else{
					alert(json.mess);
					doingsend = false;
					return false;
				}
	},"json");
}
var myVar = setInterval(function(){ myTimer() }, 1000);

function myTimer(){
	var openid = [[${chat_info['openid']}]];
	var card_id = [[${chat_info['aid']}]];
	$.post(
			[[${projectRootPath}]] + "staffer/getsend",
			{openid:openid,
			card_id:card_id}, 
			function(json){
				if(json.success){
					send([[${chat_info['avatarUrl']}]],json.mess);
				}
	},"json")
}

</script>

