<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>添加动态</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../jquery/jquery-form.js"></script>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-paginator.js"></script>
</head>
<style>
.weui-cells{margin-top:0}
.weui-icon{position:relative;left:90%;top:-18%;width:15px;height:15px}
.editor-bottom{position:fixed;background-color:#fff;width:100%;max-width:640px;height:40px;line-height:40px;text-align:center;font-family:'微软雅黑';font-size:18px;color:#2F363E;letter-spacing:.2em}
.weui-uploader__bd{overflow:visible}
.bottom{bottom:0}
.bottom50{bottom:50px}
.dd{display:flex;justify-content:center;align-items:center}
</style>
<body style="background-color: #F1F0F5">
    <div class="weui-cells weui-cells_form" id="uploader">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="说点什么吧..." rows="3" value=''></textarea>
                <div class="weui-textarea-counter">
                    <span id="uploadCount">0</span>/6
                </div>
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            
                        </ul>
                        <div class="weui-uploader__input-box" id="chooseimg">
                            <!-- <input id="uploaderInput" class="weui-uploader__input" type="file" name="cover" accept="image/*" capture="camera" multiple /> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <bottom class="editor-bottom bottom50" onclick="addBlog()">发布</bottom>
    <bottom class="editor-bottom bottom" onclick="cacel()">取消</bottom>
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已完成</p>
        </div>
    </div>
    <div id="fail" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast" style="display: flex;justify-content: flex-start;align-items: center;font-size:16px;">
            <!-- <i class="weui-icon-success-no-circle weui-icon_toast"></i> -->
            <p class="weui-toast__content"></p>
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="../js/qyjs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/qyjs/weui.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
    var uploadCount = 0;
    var upList = [];
    var state = {foo: "bar"};
	var uniacid = [[${uniacid}]];
	history.replaceState(state,'',[[${projectRootPath}]] + "friend/friendEditor?uniacid="+uniacid);
    $(function() {
        wx.config({
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: [[${Sign['appId']}]], // 必填，公众号的唯一标识
				timestamp: [[${Sign['timestamp']}]], // 必填，生成签名的时间戳
				nonceStr: [[${Sign['nonceStr']}]], // 必填，生成签名的随机串
				signature: [[${Sign['signature']}]], // 必填，签名
				jsApiList: ['chooseImage', 'previewImage', 'uploadImage', 'downloadImage'] // 必填，需要使用的JS接口列表
			})
    })
    function checkApi(){
        wx.checkJsApi({
            jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function(res) {
                //alert(res)
            // 以键值对的形式返回，可用的api值true，不可用为false
            // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
            }
        });
    }
    wx.ready(function() {
        checkApi();
        //拍照、本地图片选择
        var images = {
            localId: [],
            serverId: []
        }
        var localIdCounts = 0;
        document.querySelector("#chooseimg").onclick = function() {
            wx.chooseImage({
                count: 6, // 默认1
                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function(res) {
                    images.localId = res.localIds;
                    if (images.localId.length == 0) {
                        alert("请选择图片");
                        return;
                    }
                    if(localIdCounts > 0){
                        localIdCounts =  localIdCounts + res.localIds.length;
                    }else{
                        localIdCounts =  res.localIds.length;
                    }
        
                    if (localIdCounts > 6) {
                        alert("上传图片最多不能超过6张！");
                        return;
                    }
                    $("#uploadCount").text(localIdCounts);

                    var i = 0,length = images.localId.length;
                    images.serverId = [];
                   
                    if (!window.__wxjs_is_wkwebview) { //不是是ios是WKWebview
                        uploadImgHtml(res.localIds)
                    }

                    function upload() {
                        if (window.__wxjs_is_wkwebview) { //是ios是WKWebview
                            wx.getLocalImgData({ 
                                localId: images.localId[i], // 图片的localID
                                 success: function(res) {
                                    var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                                    localData = localData.replace('jgp', 'jpeg'); //iOS 系统里面得到的数据，类型为 image/jgp,因此需要替换一下
                                    uploadImgHtml2(localData)
                                },
                                fail: function(res) {   alert("显示失败");  } 
                            });
                        } 
                        wx.uploadImage({
                            localId: images.localId[i],
                            success: function(res) {
                                i++;
								 //alert('已上传：' + i + '/' + length);
								 
								 //同步本地服务器
								uploadSeverIds(res.serverId);
                                images.serverId.push(res.serverId);
                                if (i < length) {
                                    upload();
                                }
                            },
                            fail: function(res) {
                                alert(JSON.stringify(res))
                            }
                        })
                    }
                    upload();
                }
            })
        }
    });
    wx.error(function(res) {
       //alert(res)
    });

    //得到微信的素材到本地服务器
    function uploadSeverIds(serverId) {
		 $.post( [[${projectRootPath}]] + "friend/friendDownload", {uniacid: uniacid,media_id:serverId}, function(data){
            if (data.Code){
				alert(data.msg);
                return;
			}
            if (data.Code == 0) {

                upList.push(data.Data);
            }
         },"json");
    }
    //显示选择的图片
    function uploadImgHtml(localId) {
        var html = ""
        for (var k = 0; k < localId.length; k++) {
            html += '<li class="weui-uploader__file"  style="background-image: url(' + localId[k] + ');"></li>'
        }
        $("#uploaderFiles").append(html);
    }
    function uploadImgHtml2(localId) {
        var html = '<li class="weui-uploader__file"  style="background-image: url(' + localId + ');"></li>'
        $("#uploaderFiles").append(html);
    }
    //发布动态
    function addBlog() {

        var content = $('.weui-textarea').val();
        var imgs = upList.join(",");
		if (content.length <=0) {
            alert("请说说..");
            return;
        }
        if (imgs.trim() == '') {
            alert("请上传图片");
            return;
        }
		 $.post( [[${projectRootPath}]] +"friend/friendSave", {uniacid: uniacid,imgs:imgs,content:content}, function(data){
            if (data.Code == 0) {
				$('.weui-textarea').val("");
				to_url( [[${projectRootPath}]] + "friend/friend?uniacid=" + uniacid);
            }else{
				  alert("发布失败");
				  return;
			}
         },"json");
		 
    }
	//跳转页面
	function to_url(url) {
		window.location.href = url;
	}
	//取消
    function cacel() {
 
		var r=confirm("确定要退出吗")
		  if (r==true)
			{
				  window.history.back()
			}
    }
    </script>
</body>

</html>