<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>AI销售助手</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <link rel="stylesheet" type="text/css" href="../css/mescroll.min.css">
    <link rel="stylesheet" type="text/css" href="../css/rule.css">
    <script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../jquery/jquery-form.js"></script>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-paginator.js"></script>
</head>
<style>
    .color{color: #f8a152;}
</style>
<body>
    <div class="weui-flex" style="position: fixed;top: 0;width: 100%;">
        <div class="weui-flex__item navbar active_navbar">
           <a th:href="@{${projectRootPath} + 'staffer/stafferIndex'(uniacid=${uniacid})}">
                <div class="placeholder">时间</div>
                <div class="border" ></div>
            </a>
        </div>
        <div class="weui-flex__item navbar">
            <a th:href="@{${projectRootPath} + 'member/memberAct'(uniacid=${uniacid})}">
                <div class="placeholder">行为</div>
                <div class="border" style="display:block"></div>
            </a>
        </div>
        <div class="weui-flex__item navbar">
            <a th:href="@{${projectRootPath} + 'interact/interact'(uniacid=${uniacid})}">
                <div class="placeholder">人</div>
                <div class="border"></div>
            </a>
        </div>
    </div>
    <!--滑动区域-->
    <div id="mescroll" class="mescroll" style="margin-top: 50px;">
        <!--展示上拉加载的数据列表-->
        <div class="mslist" style="display:block">
        </div>
        <div style="height:60px;"></div>
    </div>
	
    <script type="text/javascript" src="../js/qyjs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/qyjs/weui.min.js"></script>
    <script src="../js/qyjs/mescroll.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
    var state = {foo: "bar"};
    var uniacid = [[${uniacid}]];
    var type = [[${type}]];
    history.replaceState(state,'',[[${projectRootPath}]] + "member/getMemberAct?uniacid="+uniacid + "&type=" + type);
    
    function getNoDataMsg(page) {
		if (page != null && page > 1)
			return "<div class='no-data'>已经到底了</div>";
		return "<div class='no-data'>没有数据</div>";
	}
	function isNoData(list) {
		if (list == null || list.length == 0)
			return true;
		return false;
	}
	
    var mescroll = getPager(load);
    $(function() {
        loadBtn();
    });

    function load(pageObj) {
    	var type = [[${type}]]
		$.post([[${projectRootPath}]] + "member/getMemberActiontype", {uniacid: uniacid,page:pageObj.num,type:type}, function(data){

            if (data.error>0) {
					alert(data.msg);
                    mescroll.endErr();
                    return;
                }
			
	
              if (isNoData(data.Data)) {
                  $('.mslist').append(getNoDataMsg(pageObj.num));
                  mescroll.endSuccess(0);  //设置条数
                  return;
              }
			    mescroll.endSuccess(data.Data.length);  //设置条数
            $('.mslist').append(function() {
                var arr = [];
				 var datestr_a ='';
                $.each(data.Data, function(index, items) {
                    var todaystart = new Date();
                    todaystart.setHours(0);
                    todaystart.setMinutes(0);
                    todaystart.setSeconds(0);
                    todaystart.setMilliseconds(0);

                    var todayend = new Date();
                    todayend.setHours(23);
                    todayend.setMinutes(59);
                    todayend.setSeconds(59);
                    todayend.setMilliseconds(59);


					var datestr = (items.addtime) *1;
                        if (datestr >= todaystart.getTime() && datestr <= todayend.getTime()){
                            datestr = dateFtt('hh:mm', new Date(datestr))
                        }else{
                            datestr = dateFtt('yyyy/MM/dd hh:mm', new Date(datestr));
						}
						
						if(datestr != datestr_a){
							arr.push('<div class="time-tit">' + datestr + '</div>');
						}
						
						 datestr_a = datestr;
						 
             
                      arr.push('<div class="weui-cells"><a class="weui-cell weui-cell_access" onclick=\"member_detail(' + items.id+ ',' + items.cardId + ')\"  href="javascript:;"><div class="weui-cell__hd"><div class="avatar"><img class="avatar-img" src="' +items.avatarurl + '" alt=""></div></div><div class="weui-cell__bd"><p style="margin-left:10px;">' + items.actContent + '</p></div><div class="weui-cell__ft"></div></a></div>');
        
                });
                return arr.join('');
             })
       },"json");
    }


	
	//分页控件
function getPager(callback, mescroll_id) {
    if (mescroll_id == null)
        mescroll_id = "mescroll";
    var mescroll = new MeScroll(mescroll_id, {
        down: {
            auto: false, //是否在初始化完毕之后自动执行下拉回调callback; 默认true
            use: false
        },
        up: {
            page: {
                num: 0, //当前页码,默认0,回调之前加1,即callback(page)从1开始;
                size: 1, //每页数据的数量; 
                time: null //加载第一页数据服务器返回的时间 (可空); 防止用户翻页时,后台新增了数据从而导致下一页数据重复;
            },
            offset: 50, //列表滚动到距离底部小于100px,即可触发上拉加载的回调
            auto: true, //初始化完毕,是否自动触发上拉加载的回调
            isBoth: false, //上拉加载时,如果滑动到列表顶部是否可以同时触发下拉刷新;默认false,两者不可同时触发; 这里为了演示改为true,不必等列表加载完毕才可下拉;
            callback: callback, //上拉加载的回调
            autoShowLoading: true
        }
    });
    return mescroll;
}

    function dateFtt(fmt, date) { //author: meizz   
        var o = {
            "y+": date.getFullYear(),
            "M+": date.getMonth() + 1, //月份   
            "d+": date.getDate(), //日   
            "h+": date.getHours(), //小时   
            "m+": date.getMinutes(), //分   
            "s+": date.getSeconds(), //秒   
            "q+": Math.floor((date.getMonth() + 3) / 3), //季度   
            "S": date.getMilliseconds() //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function loadBtn() {
        //聊天会话链接
        $(".a_msg_list").click(function() {
          //  toUrl(siteUrlList.ImMessageList + "?uid=" + userid);
        });
        var index;
        $('.placeholder').on('click', function() {
            index = $(this).parents('.weui-flex__item').index()
            $(this).parents('.weui-flex__item').addClass('active_navbar').siblings().removeClass('active_navbar');
            $(this).parents().children('.border').css('display', 'block').parents().siblings().children('.border').css(
                'display', 'none')
            $('.weui-tab__panel').children().eq(index).css('display', 'block').siblings().css('display', 'none')
        });

    }

      function member_detail(id, card_id) {
    	var url = [[${projectRootPath}]] + "staffer/memberDetail?uniacid=" + uniacid +'&member_id='+id+'&card_id='+card_id;
        to_url(url);
    }
	
	//跳转页面
function to_url(url) {
    window.location.href = url;
}
    </script>
</body>

</html>