<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongwei.namecard.dao.CardTicketMapper" >
  <resultMap id="BaseResultMap" type="com.zhongwei.namecard.entity.CardTicket" >
    <id column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="uniacid" property="uniacid" jdbcType="INTEGER" />
    <result column="valid_time" property="validTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhongwei.namecard.entity.CardTicket" extends="BaseResultMap" >
    <result column="ticket" property="ticket" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    access_token, uniacid, valid_time
  </sql>
  <sql id="Blob_Column_List" >
    ticket
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zhongwei.namecard.entity.CardTicketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ims_dbs_masclwlcard_ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhongwei.namecard.entity.CardTicketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ims_dbs_masclwlcard_ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ims_dbs_masclwlcard_ticket
    where access_token = #{accessToken,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ims_dbs_masclwlcard_ticket
    where access_token = #{accessToken,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhongwei.namecard.entity.CardTicketExample" >
    delete from ims_dbs_masclwlcard_ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhongwei.namecard.entity.CardTicket" >
    insert into ims_dbs_masclwlcard_ticket (access_token, uniacid, valid_time, 
      ticket)
    values (#{accessToken,jdbcType=VARCHAR}, #{uniacid,jdbcType=INTEGER}, #{validTime,jdbcType=VARCHAR}, 
      #{ticket,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongwei.namecard.entity.CardTicket" >
    insert into ims_dbs_masclwlcard_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="uniacid != null" >
        uniacid,
      </if>
      <if test="validTime != null" >
        valid_time,
      </if>
      <if test="ticket != null" >
        ticket,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="uniacid != null" >
        #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="validTime != null" >
        #{validTime,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        #{ticket,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhongwei.namecard.entity.CardTicketExample" resultType="java.lang.Integer" >
    select count(*) from ims_dbs_masclwlcard_ticket
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ims_dbs_masclwlcard_ticket
    <set >
      <if test="record.accessToken != null" >
        access_token = #{record.accessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.uniacid != null" >
        uniacid = #{record.uniacid,jdbcType=INTEGER},
      </if>
      <if test="record.validTime != null" >
        valid_time = #{record.validTime,jdbcType=VARCHAR},
      </if>
      <if test="record.ticket != null" >
        ticket = #{record.ticket,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ims_dbs_masclwlcard_ticket
    set access_token = #{record.accessToken,jdbcType=VARCHAR},
      uniacid = #{record.uniacid,jdbcType=INTEGER},
      valid_time = #{record.validTime,jdbcType=VARCHAR},
      ticket = #{record.ticket,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ims_dbs_masclwlcard_ticket
    set access_token = #{record.accessToken,jdbcType=VARCHAR},
      uniacid = #{record.uniacid,jdbcType=INTEGER},
      valid_time = #{record.validTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongwei.namecard.entity.CardTicket" >
    update ims_dbs_masclwlcard_ticket
    <set >
      <if test="uniacid != null" >
        uniacid = #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="validTime != null" >
        valid_time = #{validTime,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        ticket = #{ticket,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where access_token = #{accessToken,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhongwei.namecard.entity.CardTicket" >
    update ims_dbs_masclwlcard_ticket
    set uniacid = #{uniacid,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=LONGVARCHAR}
    where access_token = #{accessToken,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongwei.namecard.entity.CardTicket" >
    update ims_dbs_masclwlcard_ticket
    set uniacid = #{uniacid,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=VARCHAR}
    where access_token = #{accessToken,jdbcType=VARCHAR}
  </update>
</mapper>