<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongwei.namecard.miniapp.dao.SetQYMapper" >
  <resultMap id="BaseResultMap" type="com.zhongwei.namecard.miniapp.model.SetQY" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uniacid" property="uniacid" jdbcType="INTEGER" />
    <result column="corpid" property="corpid" jdbcType="VARCHAR" />
    <result column="agentid" property="agentid" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column="secret_1" property="secret1" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uniacid, corpid, agentid, secret, secret_1, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhongwei.namecard.miniapp.model.SetQYExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ims_dbs_masclwlcard_set_qy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ims_dbs_masclwlcard_set_qy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ims_dbs_masclwlcard_set_qy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhongwei.namecard.miniapp.model.SetQYExample" >
    delete from ims_dbs_masclwlcard_set_qy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhongwei.namecard.miniapp.model.SetQY" >
    insert into ims_dbs_masclwlcard_set_qy (id, uniacid, corpid, 
      agentid, secret, secret_1, 
      status)
    values (#{id,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{corpid,jdbcType=VARCHAR}, 
      #{agentid,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, #{secret1,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongwei.namecard.miniapp.model.SetQY" >
    insert into ims_dbs_masclwlcard_set_qy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uniacid != null" >
        uniacid,
      </if>
      <if test="corpid != null" >
        corpid,
      </if>
      <if test="agentid != null" >
        agentid,
      </if>
      <if test="secret != null" >
        secret,
      </if>
      <if test="secret1 != null" >
        secret_1,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uniacid != null" >
        #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="corpid != null" >
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null" >
        #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="secret1 != null" >
        #{secret1,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhongwei.namecard.miniapp.model.SetQYExample" resultType="java.lang.Integer" >
    select count(*) from ims_dbs_masclwlcard_set_qy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ims_dbs_masclwlcard_set_qy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uniacid != null" >
        uniacid = #{record.uniacid,jdbcType=INTEGER},
      </if>
      <if test="record.corpid != null" >
        corpid = #{record.corpid,jdbcType=VARCHAR},
      </if>
      <if test="record.agentid != null" >
        agentid = #{record.agentid,jdbcType=VARCHAR},
      </if>
      <if test="record.secret != null" >
        secret = #{record.secret,jdbcType=VARCHAR},
      </if>
      <if test="record.secret1 != null" >
        secret_1 = #{record.secret1,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ims_dbs_masclwlcard_set_qy
    set id = #{record.id,jdbcType=INTEGER},
      uniacid = #{record.uniacid,jdbcType=INTEGER},
      corpid = #{record.corpid,jdbcType=VARCHAR},
      agentid = #{record.agentid,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      secret_1 = #{record.secret1,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongwei.namecard.miniapp.model.SetQY" >
    update ims_dbs_masclwlcard_set_qy
    <set >
      <if test="uniacid != null" >
        uniacid = #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="corpid != null" >
        corpid = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null" >
        agentid = #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="secret1 != null" >
        secret_1 = #{secret1,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongwei.namecard.miniapp.model.SetQY" >
    update ims_dbs_masclwlcard_set_qy
    set uniacid = #{uniacid,jdbcType=INTEGER},
      corpid = #{corpid,jdbcType=VARCHAR},
      agentid = #{agentid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      secret_1 = #{secret1,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>