<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery-form.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/pagination.css" rel="stylesheet">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/pagination/pagination.js"></script>
<title>智慧名片后台管理</title>
<style type="text/css">
html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
    background: url("images/login_bg.jpg") repeat;
    background-size: 100% 100%;
    position: absolute;
}

.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
</style>
<script type="text/javascript">
var url = "";
function userList(){
	$( "#mainList" ).load( "/user/getUserList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function roleList(){
	$( "#mainList" ).load( "/role/getRoleList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function shop(){
	$( "#mainList" ).load( "/shop/getShopList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	getPage();
}

function product(){
	$( "#mainList" ).load( "/product/getProductList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	getPage();
}

function namecard(){
	$( "#mainList" ).load( "/namecard/getNamecardList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function officialWebsite(){
	$( "#mainList" ).load( "/website/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function basicSet(){
	$( "#mainList" ).load( "/basic/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function qywxSet(){
	$( "#mainList" ).load( "/qywx/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function friendManage(){
	$( "#mainList" ).load( "/friendManage/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function accountManage(){
	$( "#mainList" ).load( "/account/getAccountList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function updatePassword(){
	window.open("/user/toUpdatePassword","修改密码","height=300,toolbar=no,menubar=no,width=400,top=200,left=400");
}

function changeAccount(){
	window.open("/toChangeAccount","修改密码","height=300,toolbar=no,menubar=no,width=400,top=200,left=400");
}

</script>
</head>
<body>
<div class="col-md-12 column" style="margin-bottom: 10px">
	<input type="hidden" id="hasRoleAdmin" name="hasRoleAdmin" th:value="${hasRoleAdmin}"/>
	<input type="hidden" id="menuResources" name="menuResources" th:value="${menuResources}"/>
	<p style="float: left;margin-left: 20px;margin-top: 10px;color: orange;" th:text="'欢迎您，'+${userName}"></p>
	<p style="float: left;margin-left: 20px;margin-top: 10px;color: orange;" th:text="'您当前登录的机构是：'+${accountName}"></p>
	<a id="changeAccount" href="javascript:void(0);" onclick="changeAccount()" style="float: left;margin-left: 20px;margin-top: 10px;color: orange;cursor: pointer;">切换机构</a>
	<a href="/logout" style="float: right;margin-right: 20px;margin-top: 10px;color: orange;cursor: pointer;">退出登录</a>
	<a href="javascript:void(0);" onclick="updatePassword()" style="float: right;margin-right: 20px;margin-top: 10px;color: orange;cursor: pointer;">修改密码</a>
</div>
<div class="container" style="height:0px;margin-top: 200px">
	<br/>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation" style="background-color: #FCF5E3">
				<div class="navbar-header">
					 <a class="navbar-brand" id="userManage" href="#" onclick="userList()">用户管理</a>
					 <a class="navbar-brand" id="roleManage" href="#" onclick="roleList()">角色管理</a>
					 <a class="navbar-brand" id="accountManage" href="#" onclick="accountManage()">商户管理</a>
					 <a class="navbar-brand" id="cardManage" href="#" onclick="namecard()">名片管理</a>
					 <a class="navbar-brand" id="shopManage" href="#" onclick="shop()">商城管理</a>
					 <a class="navbar-brand" id="productManage" href="#" onclick="product()">产品管理</a>
					 <a class="navbar-brand" id="websiteManage" href="#" onclick="officialWebsite()">官网管理</a>
					 <a class="navbar-brand" id="basicManage" href="#" onclick="basicSet()">基础设置</a>
					 <a class="navbar-brand" id="qywxManage" href="#" onclick="qywxSet()">企业微信设置</a>
					 <a class="navbar-brand" id="friendManage" href="#" onclick="friendManage()">朋友圈管理</a>
				</div>
			</nav>
			<div class="jumbotron" >
				<div id="mainList">
				</div>
				<div id="pagination" align="center">
	            </div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
userList();
var hasRoleAdmin = $("#hasRoleAdmin").val();
if(!hasRoleAdmin){
	$("#changeAccount").remove();
}
var menuResources = toArray($("#menuResources").val());
if(!hasRoleAdmin && !hasValue(menuResources,"menu_user_manage")){
	$("#userManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_role_manage")){
	$("#roleManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_account_manage")){
	$("#accountManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_card_manage")){
	$("#cardManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_shop_manage")){
	$("#shopManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_product_manage")){
	$("#productManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_website_manage")){
	$("#websiteManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_basic_manage")){
	$("#basicManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_qywx_manage")){
	$("#qywxManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_friend_manage")){
	$("#friendManage").remove();
}
function getPage(){
	alert(1111);
	$("#pagination").html("");
	$("#pagination").pagination({
		dataSource: function(done){
			$.ajax({
			    type : "GET",
			    url : "/product/getProductTotal",
				dataType : "json",
				success : function(data) {
					var json = eval(data);
					if(json.success){
						var total = json.message;
						var result = [];
						
						for(var i = 1; i <= total; i++){
							result.push(i);
						}
						
						done(result);
					}
				}
		  	});
	        
	    },
		showPrevious:true,
		showNext:true,
		prevText:'上一页', // "前一页"分页按钮上显示的文字
		nextText:'下一页', // "后一页"分页按钮上显示的文字
		pageRange: 3,
		autoHidePrevious:true,
		autoHideNext:true,
		pageSize: 2,
		callback:function (response, pagination) {
			$.ajax({
			    type : "GET",
			    url : "/product/getProductList",
				success : function(data) {
					$('#mainList').html(data);
				}
		  	});
	    } // 点击分页按钮的回调函数
	});
}

function toArray(val){
	if(myStartWith(val,"[")){
		return val.substring(val.indexOf("[")+1, val.lastIndexOf("]")).split(",");
	}else{
		return val.split(",");
	}
}

function hasValue(array,val){
	for(var i=0;i<array.length;i++){
		if(myTrim(array[i])==val){
			return true;
		}
	}
	return false;
}

function myTrim(x) {
    return x.replace(/^\s+|\s+$/gm,'');
}

function myStartWith(val,flag){
	if(val.indexOf(flag)==0){
		return true;
	}else{
		return false;
	}
}
</script>
</body>
</html>