<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery-form.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-paginator.js"></script>
<title>智慧名片后台管理</title>
<style type="text/css">
html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
    background: url("images/login_bg.jpg") repeat;
    background-size: 100% 100%;
    position: absolute;
}

.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
</style>

<script type="text/javascript">
function userList(){
	$( "#mainList" ).load( "/user/getUserList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function roleList(){
	$( "#mainList" ).load( "/role/getRoleList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function shop(){
	$( "#mainList" ).load( "/shop/getShopList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function product(){
	$( "#mainList" ).load( "/product/getProductList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function namecard(){
	$( "#mainList" ).load( "/namecard/getNamecardList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function officialWebsite(){
	$( "#mainList" ).load( "/website/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function basicSet(){
	$( "#mainList" ).load( "/basic/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function qywxSet(){
	$( "#mainList" ).load( "/qywx/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function friendManage(){
	$( "#mainList" ).load( "/friend/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

function accountManage(){
	$( "#mainList" ).load( "/account/getAccountList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
}

</script>
</head>
<body>
<div class="container">
	<br/>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation" style="background-color: #FCF5E3">
				<div class="navbar-header">
					 <a class="navbar-brand" href="#" onclick="userList()">用户管理</a>
					 <a class="navbar-brand" href="#" onclick="roleList()">角色管理</a>
					 <a class="navbar-brand" href="#" onclick="accountManage()">商户管理</a>
					 <a class="navbar-brand" href="#" onclick="namecard()">名片管理</a>
					 <a class="navbar-brand" href="#" onclick="shop()">商城管理</a>
					 <a class="navbar-brand" href="#" onclick="product()">产品管理</a>
					 <a class="navbar-brand" href="#" onclick="officialWebsite()">官网管理</a>
					 <a class="navbar-brand" href="#" onclick="basicSet()">基础设置</a>
					 <a class="navbar-brand" href="#" onclick="qywxSet()">企业微信设置</a>
					 <a class="navbar-brand" href="#" onclick="friendManage()">朋友圈管理</a>
				</div>
			</nav>
			<div class="jumbotron" id="mainList">
			</div>
		</div>
	</div>
</div>
</body>
</html>