<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery-form.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/pagination.css" rel="stylesheet">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/pagination/pagination.js"></script>
<script src="/bootstrap/js/bootstrap-paginator.js"></script>
<title>智慧名片后台管理</title>
<style type="text/css">
html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
    background: url("images/login_bg.jpg") repeat;
    background-size: 100% 100%;
    position: absolute;
}

.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
</style>
<script type="text/javascript">
var url = ""
var totalPagesUrl = "";
var flag = "";
function userList(){
	flag = "user";
	$( "#mainList" ).load( "/user/getUserList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function roleList(){
	flag = "role";
	$( "#mainList" ).load( "/role/getRoleList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function shop(){
	flag = "shop";
	url="/shop/getShopList";
	totalPagesUrl = "/shop/getShopTotal";
	$( "#mainList" ).load( "/shop/getShopList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function product(){
	flag = "product";
	totalPagesUrl = "/product/getProductTotal";
	url="/product/getProductList";
	$( "#mainList" ).load( "/product/getProductList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function namecard(){
	flag = "card";
	totalPagesUrl = "/namecard/getNameCardTotal";
	url="/namecard/getNamecardList";
	$( "#mainList" ).load( "/namecard/getNamecardList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function officialWebsite(){
	flag = "website";
	$( "#mainList" ).load( "/website/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function basicSet(){
	flag = "basic";
	$( "#mainList" ).load( "/basic/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function qywxSet(){
	flag = "qywx";
	$( "#mainList" ).load( "/qywx/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function friendManage(){
	flag = "friend";
	$( "#mainList" ).load( "/friendManage/index", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function accountManage(){
	flag = "account";
	totalPagesUrl = "/account/getAccountTotal";
	url="/account/getAccountList";
	$( "#mainList" ).load( "/account/getAccountList", function( response, status, xhr ) {
		  $('#mainList').html(response);
	});
	initPaginator();
}

function updatePassword(){
	window.open("/user/toUpdatePassword","修改密码","height=300,toolbar=no,menubar=no,width=400,top=200,left=400");
}

function changeAccount(){
	window.open("/toChangeAccount","修改密码","height=300,toolbar=no,menubar=no,width=400,top=200,left=400");
}

</script>
</head>
<body>
<div class="col-md-12 column" style="margin-bottom: 10px">
	<input type="hidden" id="hasRoleAdmin" name="hasRoleAdmin" th:value="${hasRoleAdmin}"/>
	<input type="hidden" id="menuResources" name="menuResources" th:value="${menuResources}"/>
	<p style="float: left;margin-left: 20px;margin-top: 10px;color: orange;" th:text="'欢迎您，'+${userName}"></p>
	<p style="float: left;margin-left: 20px;margin-top: 10px;color: orange;" th:text="'您当前登录的机构是：'+${accountName}"></p>
	<a id="changeAccount" href="javascript:void(0);" onclick="changeAccount()" style="float: left;margin-left: 20px;margin-top: 10px;color: orange;cursor: pointer;">切换机构</a>
	<a href="/logout" style="float: right;margin-right: 20px;margin-top: 10px;color: orange;cursor: pointer;">退出登录</a>
	<a href="javascript:void(0);" onclick="updatePassword()" style="float: right;margin-right: 20px;margin-top: 10px;color: orange;cursor: pointer;">修改密码</a>
</div>
<div class="container" style="height:0px;margin-top: 200px">
	<br/>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation" style="background-color: #FCF5E3">
				<div class="navbar-header">
					 <a class="navbar-brand" id="userManage" href="#" onclick="userList()">用户管理</a>
					 <a class="navbar-brand" id="roleManage" href="#" onclick="roleList()">角色管理</a>
					 <a class="navbar-brand" id="accountManage" href="#" onclick="accountManage()">商户管理</a>
					 <a class="navbar-brand" id="cardManage" href="#" onclick="namecard()">名片管理</a>
					 <a class="navbar-brand" id="shopManage" href="#" onclick="shop()">商城管理</a>
					 <a class="navbar-brand" id="productManage" href="#" onclick="product()">产品管理</a>
					 <a class="navbar-brand" id="websiteManage" href="#" onclick="officialWebsite()">官网管理</a>
					 <a class="navbar-brand" id="basicManage" href="#" onclick="basicSet()">基础设置</a>
					 <a class="navbar-brand" id="qywxManage" href="#" onclick="qywxSet()">企业微信设置</a>
					 <a class="navbar-brand" id="friendManage" href="#" onclick="friendManage()">朋友圈管理</a>
				</div>
			</nav>
			<div class="jumbotron" >
				<div id="mainList">
				</div>
				<div id="pagediv" align="center">
					
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">
userList();
var hasRoleAdmin = $("#hasRoleAdmin").val();
if(!hasRoleAdmin){
	$("#changeAccount").remove();
}
var menuResources = toArray($("#menuResources").val());
if(!hasRoleAdmin && !hasValue(menuResources,"menu_user_manage")){
	$("#userManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_role_manage")){
	$("#roleManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_account_manage")){
	$("#accountManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_card_manage")){
	$("#cardManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_shop_manage")){
	$("#shopManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_product_manage")){
	$("#productManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_website_manage")){
	$("#websiteManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_basic_manage")){
	$("#basicManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_qywx_manage")){
	$("#qywxManage").remove();
}
if(!hasRoleAdmin && !hasValue(menuResources,"menu_friend_manage")){
	$("#friendManage").remove();
}


function initPaginator(){
var currentPage=1;
var totalPages;
if(flag=="account" || flag=="card" || flag=="shop" || flag=="product"){
	$.ajax({
	    type: "GET",
	    url: totalPagesUrl,
	    async:false,
	    success: function(data){
	    	var json = eval(data);
			if(json.success){
			   	 totalPages = json.message;
			}else{
				alert(json.message);
				window.close();
			}
	    }
	});
}

	var options = {
			bootstrapMajorVersion:3,
	        currentPage: currentPage,
	        totalPages: totalPages,
	        size:"normal",
	        alignment:"center",
	        onPageClicked: function(e,originalEvent,type,page){
				$.ajax({
		             type: "GET",
		             url: url+"?pindex="+page,
		             async:false,
		             success: function(data){
		            	 $("#mainList", window.document).html(data);
		             }
		         });
	        }
	    }
	if(flag=="account" || flag=="card" || flag=="shop" || flag=="product"){
		var html = "<ul id='pagearea' class='pagination'></ul>";
		$("#pagediv").append(html);
	    $('#pagearea').bootstrapPaginator(options);
	}else{
		$('#pagearea').remove();
	}
}

function toArray(val){
	if(myStartWith(val,"[")){
		return val.substring(val.indexOf("[")+1, val.lastIndexOf("]")).split(",");
	}else{
		return val.split(",");
	}
}

function hasValue(array,val){
	for(var i=0;i<array.length;i++){
		if(myTrim(array[i])==val){
			return true;
		}
	}
	return false;
}

function myTrim(x) {
    return x.replace(/^\s+|\s+$/gm,'');
}

function myStartWith(val,flag){
	if(val.indexOf(flag)==0){
		return true;
	}else{
		return false;
	}
}
</script>
</body>
</html>