<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery-form.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/pagination.css" rel="stylesheet">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/pagination/pagination.js"></script>
<title>智慧名片后台管理</title>
<style type="text/css">
html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
    background: url("images/login_bg.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
</style>

<script type="text/javascript">
var winWidth = window.screen.width-400;
var winHeight = window.screen.height-150;
function add(){
	window.open("/product/edit","","toolbar=no,menubar=no,location=no,width="+winWidth+",height="+winHeight+",left=200");
}

function update(){
	var radios = document.getElementsByName("radio");
	var index;
	for(i=0;i<radios.length; i++) {
		if(radios[i].checked==true){
			index=i+1;
		}
	}
	var uuid = document.getElementById("id"+index).innerText;
	window.open("/product/edit?id="+uuid,"","toolbar=no,menubar=no,location=no,width="+winWidth+",height="+winHeight+",left=200");
}

function deleteShop(){
	var flag = confirm("确定删除本条数据？");
	if(!flag){
		return;
	}
	var radios = document.getElementsByName("radio");
	var index;
	for(i=0;i<radios.length; i++) {
		if(radios[i].checked==true){
			index=i+1;
		}
	}
	var uuid = document.getElementById("id"+index).innerText;
	$.ajax({
	    url:'/product/delete',
	    type:'POST', //GET
	    async:true,    //或false,是否异步
	    data:{
	    	'id':uuid
	    },
	    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
	    success:function(data,textStatus,jqXHR){
	    	var json = eval(data);
			if(json.success){
				$.ajax({
		             type: "GET",
		             url: "/product/getProductList",
		             async:false,
		             success: function(data){
		            	 $("#mainList", window.document).html(data);
		             }
		         });
				alert(json.message);
				window.close();
			}
	    },
	    error:function(xhr,textStatus){
	    	alert(JSON.parse(msg).msg);
	    }
	})
}

</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 column">
			<div class="btn-group">
				 <button class="btn btn-default" type="button" onclick="add()"><em class="glyphicon glyphicon-plus"></em> 新增</button> <button class="btn btn-default" type="button" onclick="update()"><em class="glyphicon glyphicon-pencil"></em>修改</button> <button class="btn btn-default" type="button" onclick="deleteShop()"><em class="glyphicon glyphicon-remove"></em> 删除</button>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>
							选择
						</th>
						<th>
							显示顺序
						</th>
						<th>
							标题
						</th>
						<th>
							价格
						</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="product,iterStat : ${products}"> 
					 	 <td style="vertical-align: middle"><input name="radio" type="radio" value="radio"></td>
					     <td style="vertical-align: middle;display: none;" th:text="${product.id}" th:id="'id'+${iterStat.count}"></td>
					     <td style="vertical-align: middle" th:text="${product.sort}"></td>
					     <td style="vertical-align: middle" th:text="${product.cpBsName}"></td>
					     <td style="vertical-align: middle" th:text="${product.cpBsPrice}"></td>
					 </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>