<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>智慧名片后台管理</title>
<style type="text/css">
.multi-img-details .multi-item {
    height: 150px;
    max-width: 150px;
    position: relative;
    float: left;
    margin-right: 18px;
}
</style>
<script type="text/javascript">
function cancel(){
	window.close();
}

function getBasicSet(){
	$( "#mainContent" ).load( "/qywx/getBasicSet", function( response, status, xhr ) {
		  $('#mainContent').html(response);
	});
	$('#basicSet').attr("class","active");
}

getBasicSet()
</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active" id="basicSet">
					 <a href="#" onclick="getBasicSet()">基础设置</a>
				</li>
			</ul>
			<div id="mainContent" class="panel panel-default">
			</div>
		</div>
	</div>
</div>
</body>
</html>