<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../jquery/jquery-form.js"></script>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap-paginator.js"></script>
<title>智慧名片后台管理</title>
<script type="text/javascript">
function cancel(){
	window.close();
}
function save(){
	var roleId = $("#roleId").attr('value');
	var resourceIds = new Array();
	$("input[name='resources']").each(function() {
		if($(this).is(":checked")){
			resourceIds.push($(this).attr('value'));
		}
	});
	$.post("/role/saveResources",
			{
				'roleId':roleId,
				'resourceIds':resourceIds
			},
			function(data){
				var json = eval(data);
				if(json.success){
					$.ajax({
			             type: "GET",
			             url: "/role/getRoleList",
			             async:false,
			             success: function(data){
			            	 $("#mainList", window.document).html(data);
			             }
			         });
					alert(json.message);
					window.close();
				}else{
					alert(json.message);
					window.close();
				}
			},
			"json");
}
</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form" action="/user/save" id="userinfo">
				<input type="hidden" id="roleId" name="roleId" th:value="${roleId}"/>
				<p>菜单权限</p>
				<div th:each="resource,iterStat : ${menuResources}" class="checkbox" style="padding-left: 15px;">
					 <input th:text="${resource.resourceName}" name="resources" th:value="${resource.id}" th:checked="${resource.flag}?'true':'false'" type="checkbox"/>
				</div>
				<p>接口权限</p>
				<div th:each="resource,iterStat : ${interfaceResources}" class="checkbox" style="padding-left: 15px;">
					 <input th:text="${resource.resourceName}" name="resources" th:value="${resource.id}" th:checked="${resource.flag}?'true':'false'" type="checkbox"/>
				</div>
				<div align="center">
					<button type="button" class="btn btn-primary" onclick="save()" style="width: 80px">保存</button>
					<button type="button" class="btn btn-warning" onclick="cancel()" style="width: 80px">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>