<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery-form.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-paginator.js"></script>
<title>智慧名片后台管理</title>
<style type="text/css">
html{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
    background: url("images/login_bg.jpg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.container{
    display:table;
    height:100%;
}

.row{
    display: table-cell;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
</style>

<script type="text/javascript">
var winWidth = window.screen.width-400;
var winHeight = window.screen.height-150;
function add(){
	window.open("/shop/edit","","toolbar=no,menubar=no,location=no,width="+winWidth+",height="+winHeight+",left=200");
}

function update(){
	var radios = document.getElementsByName("radio");
	var index;
	for(i=0;i<radios.length; i++) {
		if(radios[i].checked==true){
			index=i+1;
		}
	}
	var uuid = document.getElementById("id"+index).innerText;
	window.open("/shop/edit?id="+uuid,"","toolbar=no,menubar=no,location=no,width="+winWidth+",height="+winHeight+",left=200");
}

function deleteShop(){
	var flag = confirm("确定删除本条数据？");
	if(!flag){
		return;
	}
	var radios = document.getElementsByName("radio");
	var index;
	for(i=0;i<radios.length; i++) {
		if(radios[i].checked==true){
			index=i+1;
		}
	}
	var uuid = document.getElementById("id"+index).innerText;
	$.ajax({
	    url:'/shop/delete',
	    type:'POST', //GET
	    async:true,    //或false,是否异步
	    data:{
	    	'id':uuid
	    },
	    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
	    success:function(data,textStatus,jqXHR){
	    	var json = eval(data);
			if(json.success){
				$.ajax({
		             type: "GET",
		             url: "/shop/getShopList",
		             async:false,
		             success: function(data){
		            	 $("#mainList", window.document).html(data);
		             }
		         });
				alert(json.message);
				window.close();
			}
	    },
	    error:function(xhr,textStatus){
	    	alert(JSON.parse(msg).msg);
	    }
	})
}
</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<!-- <div class="col-md-2 column" style="width: 140px">
		<br><br>
			<ul class="nav sidebar-menu">
                 <li class="active">
                     <a href="index.html">
                         <i class="menu-icon glyphicon glyphicon-home"></i>
                         <span class="menu-text">商品分组</span>
                     </a>
                 </li>
                 <li>
                     <a href="databoxes.html">
                         <i class="menu-icon glyphicon glyphicon-tasks"></i>
                         <span class="menu-text">商品属性</span>
                     </a>
                 </li>
			</ul>	
		</div> -->
		<div class="col-md-10 column">
			<div class="btn-group">
				 <button class="btn btn-default" type="button" onclick="add()"><em class="glyphicon glyphicon-plus"></em> 新增</button> <button class="btn btn-default" type="button" onclick="update()"><em class="glyphicon glyphicon-pencil"></em>修改</button> <button class="btn btn-default" type="button" onclick="deleteShop()"><em class="glyphicon glyphicon-remove"></em> 删除</button>
				 <button class="btn btn-default" type="button" onclick="deleteShop()"><em class="glyphicon glyphicon-remove"></em> 管理分类</button><button class="btn btn-default" type="button" onclick="deleteShop()"><em class="glyphicon glyphicon-remove"></em> 管理属性</button>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>
							选择
						</th>
						<th>
							显示顺序
						</th>
						<th>
							名称
						</th>
						<th>
							图片
						</th>
						<th>
							分类
						</th>
						<th>
							商品库存
						</th>
						<th>
							销售量
						</th>
						<th>
							状态
						</th>
						<th>
							分销状态
						</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="shop,iterStat : ${shops}"> 
					 	 <td style="vertical-align: middle"><input name="radio" type="radio" value="radio"></td>
					     <td style="vertical-align: middle;display: none;" th:text="${shop.id}" th:id="'id'+${iterStat.count}"></td>
					     <td style="vertical-align: middle" th:text="${shop.sort}"></td>
					     <!-- <td style="vertical-align: middle" th:text="${user.passWord}">Otto</td> -->
					     <td style="vertical-align: middle" th:text="${shop.shopName}"></td>
					     <td style="vertical-align: middle">
					     	<img src="" th:src="${shop == null}?'':'/'+${shop.gimg }" style="max-width: 48px; max-height: 48px; border: 1px dotted gray">
					     </td>
					     <td style="vertical-align: middle" th:text="${shop.typeid}"></td>
					     <td style="vertical-align: middle" th:text="${shop.shopsNum}"></td>
					     <td style="vertical-align: middle" th:text="${shop.saleNum}"></td>
					     <td style="vertical-align: middle" th:switch="${shop.isShow}">
					     	<span th:case=1 class="label label-success">已上架</span>
					     	<span th:case=0 class="label label-danger">未上架</span>
					     </td>
					     <td style="vertical-align: middle" th:switch="${shop.fxType}">
					     	<span th:case=0 class="label label-danger">关闭</span>
					     	<span th:case=1 class="label label-success">全局</span>
					     	<span th:case=2 class="label label-success">自定义</span>
					     </td>
					 </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>