<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../jquery/jquery-form.js"></script>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap-paginator.js"></script>
<script type="text/javascript" src="../js/util/util.js"></script>
<title>智慧名片后台管理</title>
<script type="text/javascript">
function cancel(){
	window.close();
}
function save(){
	var username = document.getElementById("username").value;
	if(!username || myTrim(username)==''){
		alert("用户名不能为空");
		return;
	}
	var id = document.getElementById("uuid").value;
	var nickname = document.getElementById("nickname").value;
	var usersex = document.getElementById("usersex").value;
	var tel = document.getElementById("tel").value;
	if(!checkPhone(tel) && !checkTel(tel)){
		alert("请填写正确的电话号码");
		return;
	}
	var email = document.getElementById("email").value;
	if(!checkEmail(email)){
		alert("请填写正确的邮箱");
		return;
	}
	$.post("/user/save",
			{
				'userName':username,
				'id':id,
				'nickName':nickname,
				'userSex':usersex,
				'tel':tel,
				'email':email
			},
			function(data){
				var json = eval(data);
				if(json.success){
					$.ajax({
			             type: "GET",
			             url: "/user/getUserList",
			             async:false,
			             success: function(data){
			            	 $("#mainList", window.opener.document).html(data);
			             }
			         });
					alert(json.message);
					window.close();
				}else{
					alert(json.message);
					window.close();
				}
			},
			"json");
}
</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form" action="/user/save" id="userinfo">
				<input type="hidden" id="uuid" name="uuid" th:value="${user == null}?'':${user.id}"/>
				<div class="form-group">
					 <label for="exampleInputEmail1">用户名</label><input type="text" class="form-control" maxlength="20" id="username" name="username" th:value="${user == null}?'':${user.userName }"/>
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">昵称</label><input type="text" class="form-control" maxlength="20" id="nickname" name="nickname" th:value="${user == null}?'':${user.nickName }" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">性别</label><input type="text" class="form-control" maxlength="1" id="usersex" name="usersex" th:value="${user == null}?'':${user.userSex }" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">电话</label><input type="text" class="form-control" id="tel" name="tel" th:value="${user == null}?'':${user.tel }" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">email</label><input type="text" class="form-control" id="email" name="email" th:value="${user == null}?'':${user.email }" />
				</div>
				<div align="center">
					<button type="button" class="btn btn-primary" onclick="save()" style="width: 80px">保存</button>
					<button type="button" class="btn btn-warning" onclick="cancel()" style="width: 80px">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>